{% extends 'shop/basic.html' %}

{% block title %} About Us {% endblock %}
{% block css %} 
body{
  margin:0px;
  padding:0px;
}
body{
  background:url("../../static/shop/index (2).jpg") no-repeat center center;
  background-size:cover;
  z-index:-1;
} {% endblock %}
{% block body %}

<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/shop" class="d-flex align-items-center text-dark text-decoration-none">
        <h1>CELEBAL CART</h1>
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">WELCOME</h1>
        <p class="col-md-8 fs-4">This is a project done under the guidance of mentors at Celebal Tech</p>
        <a class="btn btn-primary btn-lg" type="button" href="https://www.celebaltech.com/">Celebal Tech</a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>LinkedIn</h2>
          <p>Click the below button to open Celebal Tech LinkedIn page</p>
          <a class="btn btn-outline-light" type="button" href="https://www.linkedin.com/company/celebaltechnologies/mycompany/">LinkedIn</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>GitHub Repo Of Creators</h2>
          <p>This link will lead you to the GitHub repository of this project.</p>
          <a class="btn btn-outline-secondary" type="button" href="https://github.com/Samdroid27/Ecommerce_PS-1">Source Code</a>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2021
    </footer>
  </div>
</main>

{% endblock %}